body {
  height: 100vh;
  display: grid;
  grid-template-columns: auto 900px auto;
  grid-template-areas: ". main .";
  align-content: center;
}

main {
  grid-area: main;
}

.grid {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-gap: $padding;
}
