// ---------------------------------- \\
//              LAYOUT                \\
// ---------------------------------- \\

.leaderboard {
  display: grid;
}

.leaderboard--teams {
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "total teams";

  .leaderboard__total {
    grid-area: total;
  }

  .leaderboard__list {
    grid-area: teams;
  }
}


// ---------------------------------- \\
//              DISPLAY               \\
// ---------------------------------- \\

.leaderboard {
  margin-bottom: 5rem;
  background-color: $near-white;
  border-radius: $border-radius;
  box-shadow: $soft-box-shadow;
  overflow: hidden;
}

.leaderboard__total {
  padding: $padding;
  font: $h2;
  text-align: center;
  color: $lighter-gray;
  background-color: $lb-blue;
}

.leaderboard__progress-bar {
  display: grid;
  align-items: end;
  width: 30px;
  height: 400px;
  margin: $padding auto;
  padding: 5px;
  background-color: $lb-navy;
  border-radius: 15px;
}

.leaderboard__progress-bar-inner {
  height: 50%;
  background-color: $lb-yellow;
  border-radius: 10px;
}

.leaderboard__list {
  display: grid;
  grid-auto-rows: 1fr;
  border: $border;

  .leaderboard--teams & {
    border-left: none;
  }
}

.leaderboard__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: $padding * 2;
  font: $h2;

  & + & {
    border-top: $border;
  }

  &:first-of-type {
    font-weight: 700;
  }
}

.leaderboard__item-title-icon {
  color: $lb-yellow;
}

.leaderboard__item-stats {
  display: grid;
  grid-auto-flow: column;
  grid-gap: $padding * 2;
}

.leaderboard__item-stat {

  &--total-score {
    width: 3.5em;
    text-align: right;
  }

  &:not(.leaderboard__item-stat--total-score) {
    font-size: 85%;
    color: $light-text-color;
  }
}
