.hidden {
  display: none;
}

.u-pt0 {
  padding-top: 0;
}

.text-success {
  color: $color-success;
}

.u-edit-show {
  display: none !important;

  [mv-mode="edit"] & {
    display: grid !important;
  }
}
