.hidden {
  display: none;
}

.u-pt0 {
  padding-top: 0;
}

.text-success {
  color: $color-success;
}

[mv-app]:not([mv-mode="edit"]) .u-edit-show {
  display: none !important;
}

[mv-mode="edit"] .u-edit-hide {
  display: none !important;
}
